BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
ColumnLimit: 110
BinPackParameters: false
AlwaysBreakTemplateDeclarations: true
# BreakConstructorInitializers: BeforeComma
# BreakBeforeBraces: Linux
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline